<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Tesseract_API" value="http://192.168.1.60:8868/api/OCRRun/ImageRecognition"/>
		<add key="PADDLE_API" value="http://192.168.1.18:8866/predict/ocr_system" />
		<add key="XNEBULAOCR_API" value="http://192.168.1.18:8867/ocr/predict/" />
		<add key="LogPath" value="C:\\Public_Files_Other\\Study\\Example\\计算机视觉\\TesseractAPI\\bin\\app.publish\\bin\\Log\\"/>
	</appSettings>
</configuration>